<!DOCTYPE html>
<html>
  <head>
    <title>Pintellect</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>


    <meta property="og:title" content="Pintellect" />
    <meta property='og:image' content="<%= image_url('pintellect_linkedIn.png') %>" />
    <meta property="og:description" content="An online visual discovery engine inspired by Pinterest and my love of art and science." />
    <meta property="og:url" content="http://pintellect.herokuapp.com/" />
    <meta property="og:type" content="website" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
